# ------------------------
# Виртуальные окружения
# ------------------------
venv/
.env/
.env.*.local
__pypackages__/

# ------------------------
# Python bytecode
# ------------------------
__pycache__/
*.py[cod]
*$py.class

# ------------------------
# Логи и временные файлы
# ------------------------
*.log
*.tmp
*.bak
*.swp
*.swo
*.orig
*.rej

# ------------------------
# Сборки и пакеты
# ------------------------
build/
dist/
*.egg-info/
*.egg
*.whl
.eggs/
pip-wheel-metadata/

# ------------------------
# Настройки IDE
# ------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ------------------------
# Системные файлы
# ------------------------
.DS_Store
Thumbs.db
desktop.ini

# ------------------------
# Jupyter Notebook
# ------------------------
.ipynb_checkpoints/

# ------------------------
# PyInstaller
# ------------------------
*.manifest
*.spec

# ------------------------
# mypy / pytype / coverage
# ------------------------
.mypy_cache/
.pytype/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# ------------------------
# C extensions
# ------------------------
*.so

# ------------------------
# dotenv
# ------------------------
.env

# ------------------------
# pytest
# ------------------------
.pytest_cache/
